// // ╔═════════════════╗
// // ║   Sass Styles   ║
// // ╚═════════════════╝



@mixin flexBox($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.aboutMeContainer {
  @include flexBox();
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;

}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.returnBut1 {
  position: absolute;
  z-index: 100000;
  color: white;
  font-size: calc(2vh + 2vw);
  top: 0;
  left: 0;
  color: white;
  paint-order: stroke fill;
  text-shadow: calc(0.2vh + 0.2vw) calc(0.2vh + 0.2vw) calc(1vh + 1vw) rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: calc(0.3vh + 0.3vw) rgba(98, 191, 207, 0.724);
  border: calc(0.1vh + 0.1vw) solid rgb(98, 191, 207);
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(98, 191, 207, 0.842), rgba(255, 255, 255, 0.37));
  padding-left: calc(1vh + 1vw);
  padding-right: calc(2vh + 2vw);
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
  font-family: e;
  @include flexBox();
  transition: transform 0.5s ease;
  transform-origin: top left;
}

.returnBut1:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.486);
}

.AboutNameBox {
  position: absolute;
  color: white;
  font-size: calc(5vh + 5vw);
  width: 100%;
  text-align: center;
  top: 0;
  padding: 0;
  margin: 0;
  z-index: 50000;
  color: white;
  paint-order: stroke fill;
  text-shadow: calc(0.2vh + 0.2vw) calc(0.2vh + 0.2vw) calc(1vh + 1vw) hsla(0, 0, 0, 0.9);
  -webkit-text-stroke: calc(0.3vh + 0.3vw) rgba(98, 191, 207, 0.724);
  text-transform: uppercase;
  font-family: d;
}

.avatarContainer {
  width: min-content;
  height: 90%;
  width: 100%;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.avatar {
  height: 100%;
  transform: scale(1.5);
  transform-origin: top;
  object-fit: cover;
  object-position: top;
}

.info-container {
  height: 90%;
  bottom: 0;
  padding: 5%;
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  perspective: 1000px;
}

.info-set-1 {
  align-items: start;
  perspective: 1000px;

}

.info-set-2 {
  align-items: end;
  perspective: 1000px;

}

.item1:nth-child(1) {
  transform: translateX(100%) rotate3d(0, 1, 0, 20deg);
}

.item1:nth-child(2) {
  transform: translateX(40%)rotate3d(0, 1, 0, 15deg);
}

.item1:nth-child(3) {
  transform: translateX(10%) rotate3d(0, 1, 0, 10deg);
}

.item1:nth-child(4) {
  transform: translateX(40%) rotate3d(0, 1, 0, 15deg);
}

.item1:nth-child(5) {
  transform: translateX(100%) rotate3d(0, 1, 0, 20deg);
}

.item2:nth-child(1) {
  transform: translateX(-100%) rotate3d(0, 1, 0, -30deg);
}

.item2:nth-child(2) {
  transform: translateX(-40%) rotate3d(0, 1, 0, -20deg);
}

.item2:nth-child(3) {
  transform: translateX(-10%) rotate3d(0, 1, 0, -15deg);
}

.item2:nth-child(4) {
  transform: translateX(-40%) rotate3d(0, 1, 0, -20deg);
}

.item2:nth-child(5) {
  transform: translateX(-100%) rotate3d(0, 1, 0, -30deg);
}

.item1:hover {
  transform: translate3d(0%, 0%, calc(2vh + 2vw));
}

.item2:hover {
  transform: translate3d(0%, 0%, calc(2vh + 2vw));
}

.item1 {
  background: linear-gradient(90deg, rgba(98, 191, 207, 0.724), rgba(255, 255, 255, 0.648));

}

.item2 {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.648), rgba(98, 191, 207, 0.724));
}

.item1,
.item2 {
  color: rgb(255, 255, 255);
  font-family: rene;
  font-size: calc(1vh + 1vw);
  // text-shadow: calc(0.1vh + 0.1vw) calc(0.1vh + 0.1vw) calc(0.2vh + 0.2vw) rgba(13, 74, 84, 0.765);
  // background-color: rgba(98, 191, 207, 0.724);
  color: white;
  paint-order: stroke fill;
  -webkit-text-stroke: calc(0.3vh + 0.3vw) rgba(98, 191, 207, 0.724);
  width: 70%;
  height: 10%;
  align-content: center;
  text-align: center;
  overflow: scroll;
  transition: height 0.5s ease, transform 1s ease, padding 0.5s ease;
  scrollbar-width: none;
}

.item1::-webkit-scrollbar,
.item2::-webkit-scrollbar {
  display: none;
}

.itemDet::-webkit-scrollbar {
  display: none;
}

.item1:hover {
  height: 30%;
  padding: 5%;
}

.item2:hover {
  height: 30%;
  padding: 5%;
}

.itemDet {
  opacity: 0;
  display: none;
  color: white;
  paint-order: stroke fill;
  -webkit-text-stroke: calc(0.3vh + 0.3vw) rgba(98, 191, 207, 0.724);
  transition: transform 0.5s ease, opacity 1s ease;
  font-size: calc(0.8vh + 0.8vw);
  padding: 5%;
  scrollbar-width: none;

}

.item1:hover .itemDet {
  display: block;
  opacity: 1;
}

.item2:hover .itemDet {
  display: block;
  opacity: 1;
}




// // ╔══════════════╗
// // ║   About Me   ║
// // ╚══════════════╝

// // App --> aboutMeCointainer --> (aboutMeBlurBox + Avatar) --> aboutMeBlur --> Info

.aboutMeContainer {
  @include flexBox();
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;

}

.aboutMeContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(calc(0.5vh + 0.5vw));
  opacity: 0.3;
  z-index: 600000;
  pointer-events: none;
}


.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none;
  z-index: 99999999;
}
